
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>views</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">  
</head>
<body class=" bg-light">
  
  <div class=" container bg-white border border-1 rounded mt-4">
    <h1 class=" text-center text-success fw-bold mt-4 d-print-none">Mass management System</h1>

    <a  class=" btn btn-outline-secondary d-print-none" href="{% url 'home_page' %}">Home</a>
    <hr>
    <hr>      


  <div class="d-md-flex d-print-grid gap-2 justify-content-between mt-4">
    <div class=" d-inline-flex ">
      <h3 class=" fw-semibold text-success"> Mass Name:- </h3>
      <h3 class=" text-secondary fst-italic">{{mess.messName}}</h3>
    </div>

    <div class=" d-inline-flex">
      <h3 class="fw-semibold text-success">Date:- </h3>
      <h3 class=" text-secondary fst-italic">{{mess.date}}</h3>
    </div>

    <div class=" d-inline-flex">
      <h3 class="fw-semibold text-success"> Address:- </h3>
      <h3 class="text-secondary fst-italic">{{mess.address}}</h3>
    </div> 
  </div>

  <hr>
  <hr>

  <div class="d-md-flex d-print-grid justify-content-between">
    
    <div class=" d-inline-flex">
      <h3 class=" text-success fw-semibold m-auto">Manager Name:- </h3>
      <h4 class="m-auto">{{manager.managerName}}</h4>
    </div>

    <div class=" d-inline-flex">
      <h3 class=" text-success fw-semibold m-auto">Meal Charge:- </h3>
      <h4 class=" m-auto">{{cost.mealCharge}}</h4>
    </div>

    <div class=" d-inline-flex">
      <h3 class=" text-success fw-semibold m-auto">Total Mountly Cost:- </h3>
      <h4 class=" m-auto">{{cost.totalMounthlyCost}}</h4>
    </div>

    <div class=" d-inline-flex">
      <h3 class=" text-success fw-semibold m-auto">Total Meal:- </h3>
      <h4 class=" m-auto">{{cost.totalMeal}}</h4>
    </div>

  </div>

  <hr>
  <hr>

  <h3 class=" text-center text-success fw-semibold mt-4 mb-3">Boder Info...</h3>

  <table class=" table table-striped table-responsive">
    <tr class=" text-nowrap">
      <th>Border Name</th>
      <th>Border Meal</th>
      <th>Boder Meal Cost</th>
      <th>Shaf Bill</th>
      <th>Wifi Bill</th>
      <th>Dust Bill</th>
      <th>Border Total Cost</th>
      <th>Store Money</th>
      <th>Deu---</th>
      <th>Return</th>
      <th>Additional Cost</th>
    </tr>

    {% for item in border %}
    <tr>
      <td>{{ item.BoderName }}</td>
      <td>{{ item.BoderMeal }}</td>
      <td>{{ item.BoderMealCost}}</td>
      <td>{{ item.ShafBill }}</td>
      <td>{{ item.WifiBill }}</td>
      <td>{{ item.DustBill }}</td>
      <td>{{ item.BorderTotalCost }}</td>
      <td>{{ item.ReciveMoney }}</td>
      <td>{{ item.Deu }}</td>
      <td>{{ item.Return }}</td>
      <td>{{ item.BoderAdditionalCost }}</td>      
    </tr>
    {% endfor %}
    
  </table>

  <div class=" mt-5 mb-5 d-flex gap-3 justify-content-end d-print-none">
    <a  class=" btn btn-dark " href="{% url 'create_boder' %}">Create Boder</a>
    <button id="print"  class=" btn btn-warning" type="button">Print Now</button>
  </div>

  </div>
  <script src="{% static 'js/button.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js'%}"></script>
  <script src="{% static 'js/button.js'%}"></script>
</body>
</html>